.pagination {
  gap: px-to-rem(12);
}

.page-item {
  padding: px-to-rem(2);
}

.page-item .page-link {
  display: flex;
  padding: 0 px-to-rem(4);
  border: 0 solid $primary;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  &:hover {
    border-bottom: 4px solid #000;
  }
}

.page-item.active .page-link {
  border: 0 solid $primary;
  border-top: 4px solid transparent;
  border-bottom: 4px solid $primary;

  &:hover {
    border-bottom: 4px solid $primary;
  }
}

// support for dark background

.pagination-bg-dark .page-link {
  color: #fff;
}
.pagination-bg-dark .page-item.active .page-link {
  color: #fff;
}
.pagination-bg-dark .page-item:not(.active) .page-link:hover {
  border-bottom: 4px solid #fff;
}
